* {
  margin: 0;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

body nav {
  display: flex;
  flex-direction: row;
  height: 59px;
  width: 100%;
  justify-content: center;
  background-color: rgb(228, 237, 255);
  align-items: center;
  font-size: 14px;
}
body nav span {
  padding: 2px 6px 0px 6px;
  color: #0470f9;
}
body header {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}
body header section {
  width: 85%;
  display: flex;
  height: 12vh;
}
body header section .d_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3vh;
  margin: 0;
  gap: 0;
}
body header section .d_info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vh;
  margin: 0;
  gap: 0;
  font-size: 25px;
}
body header section .d_info p {
  padding-left: 10px;
}
body header section .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3vh;
  margin: 0;
  gap: 10px;
}
body header section .buttons button {
  height: 6vh;
  border-radius: 10px;
  border: 0px;
  color: white;
  font-size: 15px;
}
body header nav {
  height: 59px;
  align-items: center;
  width: 97%;
  justify-content: center;
  display: flex;
  font-size: 15px;
  font-weight: 700;
  background-color: #0470f9;
}
body header nav span {
  color: white;
}
body .s_main {
  padding-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
body .s_main .d_main {
  width: 60%;
  height: 72.79vh;
  display: flex;
  align-items: flex-start;
}
body .s_main .d_main .sec1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 22px;
  width: 50%;
}
body .s_main .d_main .sec2 {
  width: 50%;
  display: flex;
  flex-direction: column;
}
body .s_main .d_main2 {
  width: 60%;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
body .s_main .d_main2 .imge2 {
  margin-right: 70px;
}
body .s_main .d_main2 .image-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}
body .s_main .d_main2 .d_text {
  padding: 15px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 18px 0px rgba(34, 60, 80, 0.2);
  margin-top: -50px;
  width: 270px;
}
body .s_main .d_main2 .text-block-1 {
  height: 100px;
}
body .s_main .d_main2 .text-block-2 {
  text-align: right;
  height: 100px;
  margin-left: 50px;
}